@import '../../layout/GlobalStyles/_variables.scss';
.card{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: $white;
    border-radius: 0.5rem;
    width: 58rem;
    height: 30rem;
    padding: 2rem;
    box-shadow: 0rem 0rem 1rem #ccc;
    .language{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 30%;
        .img{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 10rem;
            height: 10rem;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0rem 0rem 2rem #ccc;
            transition: all .3s;
            cursor: pointer;
            img{
                height: 7rem;
                width: 7rem;
            }
            &:hover{
                box-shadow: 0rem 0rem 2rem #888888;
                transform: scale(1.1);
                &.python{
                    background-color: $blue;
                }
                &.javascript{
                    background-color: $yellow;
                }
                &.html{
                    background-color: $orange;
                }
                &.css{
                    background-color: $purple;
                }
                &.java{
                    background-color: $blue;
                }
                &.vue{
                    background-color: $green;
                }
                &.scss, .sass{
                    background-color: $pink;
                }
            }
        }
        h4{
            margin-top: 1.7rem;
            font-size: 2rem;
            letter-spacing: 0.2rem;
        }
    }
    .text{
        width: 100%;
        margin-left: 2rem;
        h6{
            font-size: 2rem;
        }
        p{
            margin-top: 2rem;
            font-size: 1.5rem;
            line-height: 1.4rem;
        }
        .info{
            margin-top: 0.2rem;
            display: flex;
            h6{
                padding: 0.6rem 0.8rem;
                border-radius: 0.5rem;
                font-size: 1rem;
                &#created{
                    background-color: $green;
                }
                &#edited{
                    background-color: $blue;
                }
            }
        }
        .scroll_area{
            width: 100%;
            height: 20rem;
            overflow: hidden;
            padding-right: 1rem;
            .scroll_bar{
                display: flex;
                // ensures no selection
                user-select: none;
                // disable browser handling of all panning and zooming gestures on touch devices
                touch-action: none;
                padding: 0.2rem;
                background: $pink;
                transition: background 160ms ease-out;
                &:hover{
                    background: #ccc;
                }
                &[data-orientation="vertical"]{ width: 1rem; }
                &[data-orientation="horizontal"]{
                    flex-direction: column;
                    height: 1rem;
                    width: 100%;
                }
            }
            .scroll_view{
                width: 100%;
                height: 100%;
                border-radius: inherit;
            }
            .scroll_thumb{
                flex: 1;
                background:#fff;
                border-radius: 1rem;
                // increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    min-width: 4.4rem;
                    min-height: 4.4rem;
                }
            }
        }
    }
}
